<footer class="footer">
  <div class="footer__inner">
    <div class="footer__row footer__row-1">
      <!-- Footer-Col-1 -->
      <div class="container">
        <div class="footer__col footer__col-1">
          <section class="footer__media-1">
            <h3 class="footer__media-title">FOLLOW</h3>
            <div class="footer__media-icons">
              <div class="footer__media--bg">
                <img src="./assets/icons/facebook.svg" alt="facebook" class="footer__media-icon" />
              </div>
              <div class="footer__media--bg">
                <img src="./assets/icons/tw.svg" alt="tw" class="footer__media-icon" />
              </div>
              <div class="footer__media--bg">
                <img src="./assets/icons/in.svg" alt="in" class="footer__media-icon" />
              </div>
              <div class="footer__media--bg">
                <img src="./assets/icons/you.svg" alt="you" class="footer__media-icon" />
              </div>
              <div class="footer__media--bg">
                <img src="./assets/icons/gg.svg" alt="gg" class="footer__media-icon" />
              </div>
            </div>
            <div class="footer__media-season">
              <ul class="footer__media-list">
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Autumn</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Winter</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Spring</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Summer</a>
                </li>
              </ul>
              <ul class="footer__media-list">
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Casual</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Classic</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Urban</a>
                </li>
                <li class="footer__media-item">
                  <a href="#!" class="footer__media-link">Sport</a>
                </li>
              </ul>
            </div>
          </section>

          <section class="footer__content-1">
            <div class="footer__contact">
              <h3 class="footer__contact-title">NEW ARRIVALS</h3>
              <h3 class="footer__contact-title">DISCOUNTS</h3>
              <h3 class="footer__contact-title">CONTACT US</h3>
            </div>
            <p class="footer__contact-desc">Subscribe to get the latest on sales, new releases and more...</p>
            <form action="" class="footer__form">
              <input type="text" name="" id="" class="footer__form-input" />
              <button class="btn btn--rounded footer__form-btn--rounded btn--primary">SUBSCRIBE</button>
            </form>
            <span class="footer__contact-link"
              >StoreM4.Powered by <strong class="footer__contact-link--strong">Mobirise</strong></span
            >
            <div class="footer__payment">
              <p class="footer__payment-desc">Supported payment systems</p>
              <div class="footer__payment-icons">
                <div class="footer__payment-bg">
                  <img src="./assets/icons/visa.svg" alt="visa" class="footer__payment-icon" />
                </div>
                <div class="footer__payment-bg">
                  <img src="./assets/icons/master.svg" alt="master" class="footer__payment-icon" />
                </div>
                <div class="footer__payment-bg">
                  <img src="./assets/icons/ame.svg" alt="ame" class="footer__payment-icon" />
                </div>
                <div class="footer__payment-bg">
                  <img src="./assets/icons/paypal.svg" alt="paypal" class="footer__payment-icon" />
                </div>
                <div class="footer__payment-bg">
                  <img src="./assets/icons/discover.svg" alt="discover" class="footer__payment-icon" />
                </div>
                <div class="footer__payment-bg">
                  <img src="./assets/icons/amazon.svg" alt="amazon" class="footer__payment-icon" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- <div class="footer__row footer__row-2">
      <div class="container">
        <div class="footer__col footer__col-2">
          <div class="footer__left">
            <ul class="footer__left-list">
              <li>
                <a href="#!" class="footer__left-link">Return policy</a>
              </li>
              <li>
                <a href="#!" class="footer__left-link">Search our store</a>
              </li>
              <li>
                <a href="#!" class="footer__left-link">Blog</a>
              </li>
              <li>
                <a href="#!" class="footer__left-link">Contact us</a>
              </li>
              <li>
                <a href="#!" class="footer__left-link">About us</a>
              </li>
            </ul>
          </div>

          <div class="footer__center">
            <div class="footer__center-item">
              <img src="./assets/icons/facebook.svg" alt="facebook" class="footer__center-icon" />
              <a href="#!" class="footer__center-link">Facebook</a>
            </div>
            <div class="footer__center-item">
              <img src="./assets/icons/tw.svg" alt="tw" class="footer__center-icon" />
              <a href="#!" class="footer__center-link">Twitter</a>
            </div>
            <div class="footer__center-item">
              <img src="./assets/icons/in.svg" alt="in" class="footer__center-icon" />
              <a href="#!" class="footer__center-link">LinkedIn</a>
            </div>
            <div class="footer__center-item">
              <img src="./assets/icons/you.svg" alt="you" class="footer__center-icon" />
              <a href="#!" class="footer__center-link">Youtube</a>
            </div>
            <div class="footer__center-item">
              <img src="./assets/icons/gg.svg" alt="gg" class="footer__center-icon" />
              <a href="#!" class="footer__center-link">Google</a>
            </div>
          </div>

          <div class="footer__right">
            <div class="footer__right-shop">ShopM4 Theme</div>
            <span class="footer__right-powered">Powered by <strong class="footer__right-strong">Mobirise</strong></span>
            <div class="footer__right-icons">
              <div class="footer__right-bg">
                <img src="./assets/icons/visa.svg" alt="visa" class="footer__right-icon" />
              </div>
              <div class="footer__right-bg">
                <img src="./assets/icons/master.svg" alt="master" class="footer__right-icon" />
              </div>
              <div class="footer__right-bg">
                <img src="./assets/icons/ame.svg" alt="ame" class="footer__right-icon" />
              </div>
              <div class="footer__right-bg">
                <img src="./assets/icons/paypal.svg" alt="paypal" class="footer__right-icon" />
              </div>
              <div class="footer__right-bg">
                <img src="./assets/icons/discover.svg" alt="discover" class="footer__right-icon" />
              </div>
              <div class="footer__right-bg">
                <img src="./assets/icons/amazon.svg" alt="amazon" class="footer__right-icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__row footer__row-3">
      <div class="container">
        <div class="footer__col footer__col-3">
          <div class="footer__bottom-left">
            <img src="./assets/icons/buy.svg" alt="buy" class="footer__bottom-left-icon" />
          </div>
          <div class="footer__bottom-center">
            <p class="footer__bottom-center-copyright">2017 All Rights Reserved Terms of Use and Privacy Policy</p>
          </div>
          <div class="footer__bottom-right">
            <div class="footer__bottom-right-icons">
              <div class="footer__bottom-right--bg">
                <img src="./assets/icons/facebook.svg" alt="facebook" class="footer__bottom-right-icon" />
              </div>
              <div class="footer__bottom-right--bg">
                <img src="./assets/icons/tw.svg" alt="tw" class="footer__bottom-right-icon" />
              </div>
              <div class="footer__bottom-right--bg">
                <img src="./assets/icons/in.svg" alt="in" class="footer__bottom-right-icon" />
              </div>
              <div class="footer__bottom-right--bg">
                <img src="./assets/icons/you.svg" alt="you" class="footer__bottom-right-icon" />
              </div>
              <div class="footer__bottom-right--bg">
                <img src="./assets/icons/gg.svg" alt="gg" class="footer__bottom-right-icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</footer>
